<div *ngIf="isBricksetsLoaded && isUserDataLoaded" class="index-page">
  <mat-card class="brickset-card" *ngFor="let brickset of bricksets; let i = index">
    <mat-card-header style="text-align: left">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{brickset.caption}}</mat-card-title>
      <mat-card-subtitle>{{brickset.title}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="formatImage(brickset.image)" alt="brickset image">
    <mat-card-subtitle align="start">Posted by {{brickset.username}}</mat-card-subtitle>
    <mat-card-content>
      <p>{{brickset.inventory}}</p>
    </mat-card-content>

    <mat-card-actions align="start">

      <button *ngIf="isUserDataLoaded" mat-button (click)="likeBrickset(brickset.id!, i)" [ngClass]="brickset.likedUsers?.indexOf(user.username) !== -1 ? 'is-liked' : 'not-liked'">
        <mat-icon>favorite</mat-icon> Like</button>
    </mat-card-actions>

    <div style="text-align: left">
      <p *ngFor="let comment of brickset.comments"><span style="font-weight: 500">{{comment.username}}</span>: {{comment.message}}</p>
    </div>

    <mat-form-field class="w-100">
      <mat-label>Leave a comment...</mat-label>
      <input (keyup.enter)="commentBrickset($any($event.target).value, brickset.id!, i)" matInput #message maxlength="128">
      <mat-hint align="end">{{message.value.length}} / 128</mat-hint>
    </mat-form-field>

  </mat-card>
</div>
